<div class="container" class="new-house-comment" id="new-comment">
    <p class="user-name">User: {{this.user.username}}</p>
    <p>{{this.text}}</p>
    <address> {{this.commentDate}}</address>
</div>
