<nav class="navbar nav-tabs justify-content-end" id="nav-home">
    <ul class="nav nav-tabs">
        <li class="nav-item" id="nav-home">
            <a class="nav-link" href="/houses">Home</a>
        </li>
        <li class="nav-item" id="nav-login">
            <a class="nav-link" href="/users/login">Sign In</a>
        </li>
        <li class="nav-item" id="nav-new">
            <a class="nav-link" href="/users/new">Sign Up</a>



    </ul>
</nav>

<div class="container-fluid">
    <h1 id="new-form-h1">Create a new account</h1>
    
    <form action="/users" id="usersNewForm" method="POST">
        <div class="form-group">
            <label for="username">Username: </label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Username" value="{{newUser.username}}">
            <div class="alert alert-info">
                <strong>Note:</strong> Username cannot change after creating an account and must contain 6-16 characters
            </div>
            <div class="alert alert-danger" id="usernameError" hidden>
            </div>
        </div>
        <br>

        <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            <div class="alert alert-info">
                <strong>Note:</strong> Password Format: 1: only letters(a-zA-Z), numbers(0-9) and underscores(_);
                2: 6-16 letters; 3: at least one uppercase letter (A-Z)
            </div>
        </div>
        <br>

        <div class="form-group">
            <label for="password2">Confirm Password: </label>
            <input type="password" class="form-control" id="password2" placeholder="Confirm Password">
        </div>
        <div class="alert alert-danger" id="passwordError" hidden></div>
        <br>

        <div class="form-group">
            <label for="email">Email: </label>
            <input type="email" class="form-control" name="email" id="email" placeholder="username@example.com" value="{{newUser.email}}">
        </div>
        <div class="alert alert-danger" id="emailError" hidden></div>
        <br>

        <div class="form-group">
            <label for="phoneNumber">Phone Number: </label>
            <input type="tel" class="form-control" name="phoneNumber" id="phoneNumber" placeholder="e.g. 123-456-7890"
                    value="{{newUser.phoneNumber}}" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
            <div class="alert alert-info">
                <strong>Note:</strong> Phone number format: xxx-xxx-xxxx
            </div>
        </div>
        <div class="alert alert-danger" id="phoneNumError" hidden></div>
        <br>

        <div>
            <button type="submit" class="btn btn-dark">Create New Account</button>
            <button type="reset" class="btn btn-dark">Clear Form</button>
        </div>
    </form>
    {{#if hasErrors}}
        <ul class="alert alert-danger alert-dismissible fade show">
            {{#each error}}
                <li>
                    {{this}}
                </li>
            {{/each}}
        </ul>
    {{/if}}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="/public/js/usersnewform.js"></script>
</div>
